<p id="notice"><%= notice %></p>
<div class="container">
	<div class="centrado">
		<form style="width: 350px;">  
			<div class="form-row">			     
        		<div class="form-group mb-2 col-md-4">            
		         	<p class="form-control text-primary"><%= t('activerecord.attributes.catalogo.valor') %>: </p>
		        </div> 
		        <div class="form-group mb-2 col-md-8">                       
		          	<p class="form-control"><%= @catalogo.valor %></p>	            	
		        </div>  
		    </div>	
		    <div class="form-row">			     
        		<div class="form-group mb-2 col-md-4">            
		         	<p class="form-control text-primary"><%= t('activerecord.attributes.catalogo.descripcion') %>: </p>
		        </div> 
		        <div class="form-group mb-2 col-md-8">                       
		          	<p class="form-control"><%= @catalogo.descripcion %></p>	            	
		        </div>  
		    </div>		    	    	      	
	    </form>
  	</div>
</div>

<%= link_to t('titulos.editar'), edit_catalogo_path(@catalogo) %> |
<%= link_to t('titulos.regresar'), catalogos_path %>