<!-- Titlebar
================================================== -->
<div id="titlebar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><%= t('titulos.denuncium') %></h2>
        <!-- Breadcrumbs -->
        <nav id="breadcrumbs">
          <ul>
            <li><%= inicio %></li>
            <li>Denuncias</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- Content
    ================================================== -->
<section class="container">
  <p id="notice"><%= notice %></p>
  
  <div class="row">    
    <div class="col-lg-12">
      <table class="basic-table" style='<%= if usuario_signed_in? then "visibility: visible;" else "visibility: hidden;" end %>'>
        <thead class="thead-dark">
          <tr>
            <th scope="col"><%= t('activerecord.attributes.denuncium.fecha') %></th>
            <th scope="col"><%= t('activerecord.attributes.denuncium.catalogo_id') %></th>
            <th scope="col"><%= t('activerecord.attributes.denuncium.longitud') %></th>
            <th scope="col"><%= t('activerecord.attributes.denuncium.latitud') %></th>
            <th scope="col"><%= t('activerecord.attributes.denuncium.descripcion') %></th>
          </tr>
        </thead>
        <tbody>
          <% @denuncia.each do |denuncium| %>
            <tr>
              <td><%= denuncium.fecha %></td>
              <td><%= denuncium.catalogo.valor %></td>
              <td><%= denuncium.longitud %></td>
              <td><%= denuncium.latitud %></td>
              <td><%= denuncium.descripcion %></td>
              <!--td>
                <div class="btn-group" role="group">
                  <%#= link_to t('botones.editar'), edit_denuncium_path(denuncium), :class => 'button btn btn-info boton-xs' %>
                  <%#= link_to t('botones.eliminar'), denuncium, method: :delete, data: { confirm: 'Seguro que desea eliminar este denuncium?' }, :class => 'button btn btn-danger boton-xs' %>
                </div>
              </td-->
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= link_to t('botones.nuevo'), new_denuncium_path, :class => 'button btn btn-primary' %>
      <%= link_to "EXPORTAR EXCEL", new_denuncium_path, :class => 'button btn btn-primary', :style => (if usuario_signed_in? then "visibility: visible;" else "visibility: hidden;" end) %>
    </div>
  </div>
</section>