<!-- Titlebar
================================================== -->
<div id="titlebar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><%= t('titulos.catalogo') %></h2>
        <!-- Breadcrumbs -->
        <nav id="breadcrumbs">
          <ul>
            <li><%= inicio %></li>
            <li><%= link_to t('titulos.institucion'), institucions_path %></li>
            <li><%= t('titulos.editar') %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- Content
    ================================================== -->
<section class="container">  
	<%= render 'form', institucion: @institucion %>
</section>