<p id="notice"><%= notice %></p>

<p>
  <strong>Catalogo:</strong>
  <%= @institucioncatalogo.catalogo %>
</p>

<p>
  <strong>Institucion:</strong>
  <%= @institucioncatalogo.institucion %>
</p>

<%= link_to 'Edit', edit_institucioncatalogo_path(@institucioncatalogo) %> |
<%= link_to 'Back', institucioncatalogos_path %>
